:root{
  /* colors */
  --clr-primary: #F97316 ;
  --clr-secondary:#6366F1;
  --clr-background:#F3F4F6;
  --clr-surface:#FFFFFF;
  --clr-text-primary:#111827;
  --clr-text-secondary:#6B7280;
  --clr-red-600:#DC2626;

  /* font families */
  --ff-heading: "Space Grotesk", sans-serif;
  --ff-text: "Roboto", sans-serif;

}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}